<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Prof</title>
</head>
<body>
<form action="#" th:action="@{/livrecreate}" th:object="${livreForm}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table border="1">
        <tr>
            <td><label>Titre</label></td>
            <td><input type="text" th:field="*{titre}"/></td>
        </tr>
        <tr>
            <td><label>Auteur</label></td>
            <td><input type="text" th:field="*{auteur}"/></td>
        </tr>
        <tr>
            <td><label>Année</label></td>
            <td><input type="text" th:field="*{annee}"/></td>
        </tr>
        <tr>
            <td><label>Catégorie</label></td>
            <td><input type="text" th:field="*{categorie}"/></td>
        </tr>
        <tr>
            <td><label>Examplaires</label></td>
            <td><input type="text" th:field="*{examplaires}"/></td>
        </tr>
        <tr>
            <td><label>Éditeur</label></td>
            <td><input type="text" th:field="*{editeur}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Enregistrer"/></td>
        </tr>
    </table>
</form>
</body>
</html>